.box-evenement{
    height: 150px;
    background-color: #F5F5F5;
    border-radius: 8px;
}

.box-evenement:hover{
        background-color:#FFA726;
        cursor: pointer;
}

.Box__img {
    display: block;
    margin: auto;
    width: auto;
    height: 100%;
    padding: 30px;
}

.Box--selected {
    background-color: #FF874E;
}
