.box-evenement{
    height: 150px;
    background-color: #F5F5F5;
    margin-top: 20px;
    margin-right: 10px;
    border-radius: 8px;
}

.box-evenement:hover{
        background-color:#FFA726;
        cursor: pointer;
}

.Box__img {
    display: block;
    margin: auto;
    width: 200px;
    height: 100px;
    margin-top: 15px;
}

.Box--selected {
    background-color: #FF874E;
}
