.button--style{
    margin-bottom: 50px;
    margin-right: 5px;
}

.box--evenement{
    padding-top: 85px;
}

.select--property{
    width: 100%;
}

.arrow {
  cursor: pointer;
  position: relative;
  display: block;
  width: 100px;
  margin: 12% 15px 0px 15px;
  height: 100px;
  border-radius: 100%;
  z-index: 1;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.arrow-left {
  cursor: pointer;
  position: relative;
  display: block;
  width: 100px;
  margin: 12% 15px 0px 15px;
  height: 100px;
  border-radius: 100%;
  z-index: 1;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.arrow:before, .arrow:after {
  content: "";
  position: absolute;
  width: 35%;
  height: 10%;
  top: 41%;
  left: 55%;
  background: #999;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.arrow-left:before, .arrow-left:after {
  content: "";
  position: absolute;
  width: 10%;
  height: 35%;
  top: 41%;
  left: 55%;
  background: #999;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.arrow:after {
  z-index: 3;
  top: 59%;
  left: 55%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}
.arrow:hover {
  border: solid 8px #777;
}
.arrow:hover:after, .arrow:hover:before {
  background: #777;
}
.arrow:active {
  border: solid 8px #111;
}
.arrow:active:after, .arrow:active:before {
  background: #111;
}

.arrow-left:after {
  z-index: 3;
  top: 59%;
  left: 55%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}
.arrow-left:hover {
  border: solid 8px #777;
}
.arrow-left:hover:after, .arrow:hover:before {
  background: #777;
}
.arrow-left:active {
  border: solid 8px #111;
}
.arrow-left:active:after, .arrow:active:before {
  background: #111;
}
