.title.has-text-white {
    color: white;
}

.subtitle.has-text-white {
    color: white;
}

.center {
    margin: 0 auto;
}

.bottom-spaced {
    margin-bottom: 30px;
}

.hspaced {
    margin-left: 10px;
    margin-right: 10px;
}

.box-padded {
    padding: 10px;
}

.hpadded {
    padding-left: 20px;
    padding-right: 20px;
}

.vpadded {
    padding-top: 20px;
    padding-bottom: 20px;
}

.is-vcentered {
    vertical-align:middle;
}

.card {
    background-color: white;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    color: #4a4a4a;
    max-width: 100%;
    position: relative;
}

.pointer {
    cursor: pointer;
}